{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Quizzle 2{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section id="content-section">
        <div id="content-body">

            <div class="text-center">
                <h1>Categories</h1>
            </div>
            <hr>
            <div class="card-columns">
            {% for cat in categories %}

            <div class="card p-1">
              <div class="card-body">
                <h5 class="card-title">{{ cat }}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            {% endfor %}
            </div>

        </div>
    </section>

</main>


{% endblock %}