{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Quizzle 2{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{{ welcome_message }}</h1>
        </div>
    </section>
    <section id="content-section">

        <div id="content-body">

            <br>
            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <div class="text-center">
                        <a href="{% url "quizzes:categories" %}" class="btn btn-secondary btn-lg active float-right" role="button" aria-pressed="true">Check Out Categories</a>
                    </div>
                </div>
                <br><br>

            <div class="col-md-4">
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create-quiz-modal">
                        Create New Quiz
                    </button>
                </div>
            </div>
            </div>
            {% if quizzes %}

            <br><br>
            <h3>Your Quizzes</h3>

            <table class="table">
              <thead>
                <tr>
                  <th style="width: 5%" scope="col">#</th>
                  <th style="width: 25%" scope="col">Quiz</th>
                  <th style="width: 15%" scope="col"># Questions</th>
                  <th style="width: 15%" scope="col">Created</th>
                  <th style="width: 15%" scope="col">Results</th>
                </tr>
              </thead>
              <tbody>
                {% for q in quizzes %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url "quizzes:quiz-view" q.id %}">{{ q }}</a></td>
                    <td>{{ q.num_questions }}</td>
                    <td>{{ q.created }}</td>
                    <td>{% if q.complete %}<a href="{% url "quizzes:quiz-view" q.id %}">Results</a>{% else %}<a href="{% url "quizzes:quiz-view" q.id %}">Continue{% endif%}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
                {{ q }}

            {% endif %}
        </div>
    </section>

</main>

<!-- Modal -->
<div class="modal fade" id="create-quiz-modal" tabindex="-1" role="dialog" aria-labelledby="create-quiz-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create a Quiz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="{% url "quizzes:create-quiz" %}" method="POST">
            {% csrf_token %}
      <div class="modal-body">
            <p>What categories would you like to include?</p>
            {% for cat in categories %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="categories" value="{{ cat.id }}" id="{{ cat.id }}">
              <label class="form-check-label" for="{{ cat.id }}">
                {{ cat.name }}
              </label>
            </div>
            {% endfor %}

            <br>
            <div class="form-group">
                <label for="num_questions">How many questions should it have?</label>
                <select name="num_questions" class="form-control" id="num_questions">
                  <option>1</option>
                  <option>2</option>
                  <option>5</option>
                  <option>10</option>
                  <option>20</option>
                </select>
              </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Submit">


      </div>
            </form>
    </div>
  </div>
</div>

{% endblock %}
