{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Quizzle 2{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
        <div id="content-body">
            {% if quiz %}<p><a href="{% url "quizzes:home" %}">< Back to Quizzes</a></p>{% endif %}
            {% if question_response.choice.is_correct %}
                <div class="alert alert-success" role="alert">
                  Correct! Good job!
                </div>

            {% else %}
                <div class="alert alert-danger" role="alert">
                  It looks like your answer is wrong!
                </div>

            {% endif %}

            {% if quiz %}
                <h1>{{ quiz }}<span class="badge badge-secondary float-right">{{ question_response.question.category }}</span></h1>

            {% else %}

                <p><a href="{% url "quizzes:category-detail-view" question.category.slug %}">< Back to {{ question.category }} </a></p>

            {% endif %}

            <br><br>
            <h3 class="text-center">{{ question_response.question.question_text }}</h3>

            <form>
                {% for choice in question_response.question.choices.all %}
                <br><br>
                <div class="form-check">
                  <input disabled class="form-check-input" type="radio" name="answer-chosen" id="{{ choice.id }}" value="{{ choice.id }}"
                         {% if choice.id == question_response.choice.id %}checked {% endif %}
                  >
                  <label class="form-check-label" for="{{ choice.id }}">
                    {{ choice.choice_text }}
                  </label>
                </div>
                {% endfor %}
                <br><br><br>
                {% if quiz %}
                    {% if next_question_id %}
                        <a href="{% url "quizzes:quiz-question-view" quiz.id next_question_id %}" class="btn btn-secondary btn-lg active float-right" role="button" aria-pressed="true">Next Question -></a>
                    {% else %}
                        <a href="{% url "quizzes:quiz-results-view" quiz.id %}" class="btn btn-secondary btn-lg active float-right" role="button" aria-pressed="true">View Final Results</a>
                    {% endif %}
                {% endif %}
                <br><br><br>
            </form>

        </div>
    </section>

</main>


{% endblock %}