{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section id="content-section">
        <div id="content-body">


            <h1>{{ quiz }}<span class="badge badge-secondary float-right">{{ question.category }}</span></h1>

            <br><br>
            <h3 class="text-center">{{ question.question_text }}</h3>


            <form action="" method="post">
                {% csrf_token %}
                {% for choice in question.choices.all %}
                <br><br>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="answer-chosen" id="{{ choice.id }}" value="{{ choice.id }}" checked>
                  <label class="form-check-label" for="{{ choice.id }}">
                    {{ choice.choice_text }}
                  </label>
                </div>
                {% endfor %}
                <br><br><br>
                <input type="submit" class="btn btn-primary btn-lg float-right" value="Submit">
                <br><br><br>
            </form>

        </div>
    </section>

</main>


{% endblock %}